# Environment & Secrets
.env
.env.local
*.log

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archive packages
*.zip

# Local SQLite databases
*.sqlite

